$backg-color: linear-gradient(
  287.63deg,
  rgba(39, 86, 52, 0.953125) 64.51%,
  rgba(78, 114, 88, 0.713542) 77.03%,
  #1f512d 77.87%,
  rgba(112, 137, 119, 0.510417) 87.65%,
  rgba(146, 161, 150, 0.302083) 91.77%,
  rgba(174, 180, 176, 0.135417) 107.26%,
  rgba(196, 196, 196, 0) 113.44%
);
$pri-col: #1f512d;
$sec-col: white;
$img-col: linear-gradient(
  180deg,
  #c4c4c4 0%,
  rgba(196, 196, 196, 0.937493) 40%,
  rgba(196, 196, 196, 0.90624) 70%,
  rgba(196, 196, 196, 0.864569) 100%
);
$i-X-col: red;
