@use "lib" as *;
@mixin cont($name, $pos, $wid, $hei) {
  .#{$name}-c {
    /* @if $name == "text" {
      position: absolute;
      bottom: 17.3vh;
    }*/

    margin: {
      left: 5vw;
      top: 5vh;
    }
    width: $wid;
    height: $hei;
    background: $img-col;
  }
}
header {
  h1 {
    margin: {
      top: 0;
      bottom: 20px !important;
    }
  }
}
html {
  background: $backg-color no-repeat;
  background-size: cover;
  max-height: 100%;
  height: 200%;
  overflow: hidden;
  input {
    font-size: 0.7em;
  }
  body {
    font-size: 20px;
    header {
      height: 15vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      .logo {
        text-align: center;
        align-self: flex-start;
        margin-top: 20px !important;
        .big-X {
          color: red;
          font-weight: 900;
          font-size: 2em;
          text-shadow: 3px 0 3px $pri-col, -3px 0 3px $pri-col,
            0 -3px 3px $pri-col, 0 3px 3px $pri-col;
        }
        .small-img {
          color: $pri-col;
          font-size: 1em;
          font-width: 900;
        }
      }
      .contact-btn {
        border: none;
        height: 40px;
        border-radius: 8px;
        padding: 15px, 32px;
        text-align: center;
        width: 120px;

        span {
          padding-top: 8px;
          display: inline-block;
          font-size: 1em;
          text-align: center;
          font-weight: 900;
          font-style: italic;
          color: $pri-col;
        }
      }
    }

    h1 {
      color: $sec-col;
      font-size: 1.4em;
      margin: {
        top: 0;
      }
    }
    main {
      background: $sec-col;
      height: 50vh;
      //margin-bottom: 10%;
      form {
        position: absolute;
        right: 0;
      }
      button {
        position: relative;
        bottom: -175px;
        right: 45%;
      }
    }
    .wrapper {
      background-color: $sec-col;
      width: 90%;
      margin-left: 5%;
      //margin-bottom: 35%;
      border-radius: 8px;
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        .formEntry {
          width: 90%;
          flex: 90%;
          border: none;
          border-bottom: 1px solid $pri-col;
          margin: {
            bottom: 5px;
          }
          font-size: 1em;
          color: $pri-col;
        }
        .name,
        .email {
          min-height: 8px;
        }
        .message {
          min-height: 18px;
        }
        .submit {
          min-height: 12px;
          width: 50%;
          border: none;
          background-color: $pri-col;
          color: $sec-col;
          font-size: 1em;
          padding-top: 8px;
          margin: {
            top: 10px;
            bottom: 15px;
          }
          &:hover,
          &:active {
            border: 2px solid $pri-col;
            background-color: $sec-col;
            color: $pri-col;
          }
        }
        .title {
          font-size: 1.5em;
          color: $pri-col;
          font-weight: 500;
          margin: {
            top: 25px;
            bottom: 20px;
          }
        }
      }
    }
    footer {
      position: relative;
      bottom: 0;
      border-top: 0.1px solid $sec-col;
      margin-top: 2%;
      p {
        font-size: 0.8em;
        color: $sec-col;
        margin-bottom: 0.5em;
      }
      .own {
        margin-top: 0.5em;
        color: red;
      }
    }
  }
}
.logo,
a > .contact-btn {
  margin: 4vw;
}
a > .contact-btn {
  align-self: flex-end;
}
@include cont("img", 0, 90%, 22vh);
@include cont("text", 0, 90%, 22vh);
.img-c img {
  width: 100%;
  height: 100%;
}
.text-c {
  overflow: auto;
  p {
    color: $pri-col;
  }
}
.email,
.name,
.message {
  &:focus,
  &:active {
    outline: 2px solid $pri-col;
  }
}
.formEntry::placeholder {
  font-size: 15px;
  color: #90917e;
}
.App {
  text-align: center;
}
.red-box {
  display: none;
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
  main {
    //display: flex;
    height: 40vh;
    margin-bottom: 0;
    padding-left: 25%;
    form {
      position: relative;
      right: 400px !important;
      font-size: 1em;
    }
    button {
      bottom: -100px !important;
      right: 75% !important;
      font-size: 0.5em;
    }
  }
  .wrapper {
    max-width: 30%;
    margin-left: 35% !important;
  }

  footer {
    margin-top: 1% !important;
  }

  @include cont("img", 0, 50%, 22vh);
  @include cont("text", 0, 50%, 22vh);
  .big-X {
    font-size: 4em !important;
    text-shadow: 8px 0 8px $pri-col, -8px 0 8px $pri-col, 0 -8px 8px $pri-col,
      0 8px 8px $pri-col !important;
  }
  .small-img {
    font-size: 2em !important;
  }
  .contact-btn {
    border: none;
    height: 60px !important;
    border-radius: 10px !important;
    width: 180px !important;
    font-size: 0.7em;
  }
  h1 {
    font-size: 2em !important;
  }
  .red-box {
    display: block;
    position: absolute;
    background-color: red;
    width: 40px;
    height: 50px;
    right: 20%;
  }
}
